{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Content }}

<div class="project-grid">
    {{ range .Pages }}
    <a href="{{ .Permalink }}" class="project-card-link">
        <div class="project-card">
            <div class="project-image-container">
                {{ if .Params.image }}
                    <img src="{{ .Params.image }}" alt="{{ .Title }}" class="project-image">
                {{ else }}
                    <div class="img-placeholder"></div>
                {{ end }}
            </div>
            <h3>{{ .Title }}</h3>
            <p>{{ .Params.description | truncate 200 }}</p>
            <span class="read-more">Read More</span>
        </div>
    </a>
    {{ end }}
</div>
{{ end }}